/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Matrix (row 0)
                &kp B      &kp E      &kp V

                // Matrix (row 1)
                &kp Z      &kp SPACE  &kp LALT

                // Direct keys
                &mt LCTRL SPACE
                &lt 1 LSHIFT
            >;
        };

        fn_layer {
            bindings = <
                &kp LBKT   &kp RBKT   &kp X
                &kp Z      &kp Y      &kp TAB
                &kp LSHIFT
                &kp ENTER
            >;
        };
    };
};