/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>
#include <dt-bindings/zmk/matrix_transform.h>

#include "lotux-pinctrl.dtsi"
#include "lotux-layouts.dtsi"

/ {
    model = "xplotusv0.2";
    compatible = "lotux";

    chosen {
        zephyr,code-partition = &code_partition;
        zephyr,sram = &sram0;
        zephyr,flash = &flash0;
        /* CRITICAL: Link the kscan and transform here */
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
        zmk,physical-layout = &default_layout;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN_MATRIX";
        diode-direction = "col2row";

        /* Added Pull-ups: Necessary for ACTIVE_LOW matrix scanning */
        row-gpios = <
            &gpio0 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* row 0 */
            &gpio0 2  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* row 1 */
            &gpio1 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* row 2 */
            &gpio1 0  (GPIO_ACTIVE_LOW | GPIO_PULL_UP) /* row 3 */
        >;

        col-gpios = <
            &gpio0 10 GPIO_ACTIVE_LOW  /* col 0 */
            &gpio0 9  GPIO_ACTIVE_LOW  /* col 1 */
            &gpio0 24 GPIO_ACTIVE_LOW  /* col 2 */
            &gpio1 6  GPIO_ACTIVE_LOW  /* col 3 */
            &gpio0 11 GPIO_ACTIVE_LOW  /* col 4 */
        >;
    };

    default_transform: default_transform {
        compatible = "zmk,matrix-transform";
        rows = <4>;
        columns = <5>;

        /* This map tells ZMK which electrical intersections 
           correspond to your 8 physical keys.
        */
        map = <
            RC(0,0) RC(0,1) RC(0,2)  /* Top 3 keys of 3x2 matrix */
            RC(1,0) RC(1,1) RC(1,2)  /* Bottom 3 keys of 3x2 matrix */
            RC(2,3)                  /* Hanging Key 1 */
            RC(3,4)                  /* Hanging Key 2 */
        >;
    };
};